@font-face {
  font-family: 'AmsiPro-Black';
  src: url('AmsiPro-Black.eot'); /* IE9 Compat Modes */
  src: url('AmsiPro-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AmsiPro-Black.woff') format('woff'), /* Modern Browsers */
       url('AmsiPro-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AmsiPro-Black.svg#7dbad414e036647c13f918ebbfe9beee') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'AmsiPro-BlackItalic';
  src: url('AmsiPro-BlackItalic.eot'); /* IE9 Compat Modes */
  src: url('AmsiPro-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AmsiPro-BlackItalic.woff') format('woff'), /* Modern Browsers */
       url('AmsiPro-BlackItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AmsiPro-BlackItalic.svg#3bf8dc9f05858e14a51c2ebe4237e2c2') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'AmsiPro-Bold';
  src: url('AmsiPro-Bold.eot'); /* IE9 Compat Modes */
  src: url('AmsiPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AmsiPro-Bold.woff') format('woff'), /* Modern Browsers */
       url('AmsiPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AmsiPro-Bold.svg#63ff4abaa5123537dcefb523077dd5a5') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'AmsiPro-BoldItalic';
  src: url('AmsiPro-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('AmsiPro-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AmsiPro-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('AmsiPro-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AmsiPro-BoldItalic.svg#9d54cfed8006e081939de457e5c94aa1') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'AmsiPro-Italic';
  src: url('AmsiPro-Italic.eot'); /* IE9 Compat Modes */
  src: url('AmsiPro-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AmsiPro-Italic.woff') format('woff'), /* Modern Browsers */
       url('AmsiPro-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AmsiPro-Italic.svg#9d543a9cd2e4f176c308203a8d62405d') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'AmsiPro-Light';
  src: url('AmsiPro-Light.eot'); /* IE9 Compat Modes */
  src: url('AmsiPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AmsiPro-Light.woff') format('woff'), /* Modern Browsers */
       url('AmsiPro-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AmsiPro-Light.svg#225685593974360fd31789211b230542') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'AmsiPro-LightItalic';
  src: url('AmsiPro-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('AmsiPro-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AmsiPro-LightItalic.woff') format('woff'), /* Modern Browsers */
       url('AmsiPro-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AmsiPro-LightItalic.svg#3240c29f45fcf19f7042109298d8655f') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  200;
}

@font-face {
  font-family: 'AmsiPro-Regular';
  src: url('AmsiPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('AmsiPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AmsiPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('AmsiPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AmsiPro-Regular.svg#55171b0e3589d1a5e9a2e709f75cf6e6') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'AmsiPro-SemiBold';
  src: url('AmsiPro-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('AmsiPro-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AmsiPro-SemiBold.woff') format('woff'), /* Modern Browsers */
       url('AmsiPro-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AmsiPro-SemiBold.svg#be132d25b576fea7a35346d8ea9260c7') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'AmsiPro-SemiBoldItalic';
  src: url('AmsiPro-SemiBoldItalic.eot'); /* IE9 Compat Modes */
  src: url('AmsiPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AmsiPro-SemiBoldItalic.woff') format('woff'), /* Modern Browsers */
       url('AmsiPro-SemiBoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AmsiPro-SemiBoldItalic.svg#6ad9cab713332736355be040c6946f62') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'AmsiPro-Ultra';
  src: url('AmsiPro-Ultra.eot'); /* IE9 Compat Modes */
  src: url('AmsiPro-Ultra.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AmsiPro-Ultra.woff') format('woff'), /* Modern Browsers */
       url('AmsiPro-Ultra.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AmsiPro-Ultra.svg#7e626b4e02e1dc6f0c4583f0b5fc8331') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'AmsiPro-UltraItalic';
  src: url('AmsiPro-UltraItalic.eot'); /* IE9 Compat Modes */
  src: url('AmsiPro-UltraItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AmsiPro-UltraItalic.woff') format('woff'), /* Modern Browsers */
       url('AmsiPro-UltraItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AmsiPro-UltraItalic.svg#578c34f39cbfb8832af99aa8afe30a93') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'AmsiPro-XLight';
  src: url('AmsiPro-XLight.eot'); /* IE9 Compat Modes */
  src: url('AmsiPro-XLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AmsiPro-XLight.woff') format('woff'), /* Modern Browsers */
       url('AmsiPro-XLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AmsiPro-XLight.svg#bec3efbbb42244ee672584d20bdad667') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'AmsiPro-XLightItalic';
  src: url('AmsiPro-XLightItalic.eot'); /* IE9 Compat Modes */
  src: url('AmsiPro-XLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AmsiPro-XLightItalic.woff') format('woff'), /* Modern Browsers */
       url('AmsiPro-XLightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AmsiPro-XLightItalic.svg#634cae7f9198c26a1457bb5c17c29c9c') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  200;
}

